<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash#{name}" %>
        <% end %>

    <%= form_tag log_in_path do %>
    <%= text_field_tag :username %>
    <%= password_field_tag :password %>
    <%= submit_tag "Log In" %>
    <% end %>

    <%= yield %>
  </body>
</html>
